{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MotechApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.min.css' %}">


  <link href="{% static 'core/bootstrap/three/css/bootstrap.min.css' %}" rel="stylesheet">


<link href="{% static 'core/bootstrap/four/css/bootstrap.min.css' %}" rel="stylesheet">

  <style type="text/css">
    #bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  </style>
</head>
<body>




  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #184a45; color: white">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
  <a class="nav-link" href="{% url 'index' %}" style="color: #fcf66a ; font-size: 20px; font-weight: bold;">MotechApp <br><span class="sr-only">(current)</span></a>
 
 <a style="font-weight: bold">Django Social Network</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>

  <a class="nav-link" href="{% url 'register' %}" style="color: #fcf66a; font-size: 20px; font-weight: bold;">Register<span class="sr-only"></span></a>

  <a class="nav-link" href="{% url 'index' %}" style="color: #fcf66a; font-size: 20px; font-weight: bold;">Login<span class="sr-only"></span></a>


  </div>
</nav>

<body id="bg" style="background-image: url('{% static "core/images/background.jpg"%}');">





{% block body %}
{% endblock %}



<style>
#footer{
   position: fixed;
   left: 0;
   bottom: 0;
   height: 60px;
   width: 100%;
   background-color: #184a45;
   color: #fcf66a;
   text-align: center;
}
</style>

<div class="fixed-bottom" id="footer">

<div class="coca" style="padding-top: 15px;font-style:cambria ; font-size: 18px; font-weight: bold;">
<p>Copyright MotechApp © 2021. All Rights Reserved.</p>
</div>
</div>

</body>
</html>
