{%extends 'core/base3.html'%}
{% load crispy_forms_tags %}

{% block body %}


{% load static %}

  <style type="text/css">
    #bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  </style>


  <link href="{%static 'core/dashboard.css'%}" rel="stylesheet" />



<link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.min.css' %}">

<body>

<div class="motech" style="padding-left: 450px; padding-top: 70px">
	<h1>You're welcome</h1>
</div>



{% endblock %}